In [1]:
import pandas as pd
import numpy as np

In [2]:
df_data = pd.read_csv('data_LR.csv', sep='|', header="infer")
df_data

     OUTDOOR_TEMP ELECTRIC_POWER
0       30,248541            NaN
1       31,321108         324,54
2       32,704262            NaN
3       24,938467          252,7
4       33,316906          331,1
...           ...            ...
1491     32,81736         325,35
1492    34,618198         332,11
1493     28,03385          296,1
1494     21,21879         229,71
1495    26,987152         262,85

[1496 rows x 2 columns]

In [8]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1496 entries, 0 to 1495
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OUTDOOR_TEMP    1496 non-null   object
 1   ELECTRIC_POWER  1494 non-null   object
dtypes: object(2)
memory usage: 23.5+ KB

In [7]:
df_data.describe()

       OUTDOOR_TEMP ELECTRIC_POWER
count          1496           1494
unique         1452           1412
top               0              0
freq             45              8

In [6]:
df_data.head()

  OUTDOOR_TEMP ELECTRIC_POWER
0    30,248541            NaN
1    31,321108         324,54
2    32,704262            NaN
3    24,938467          252,7
4    33,316906          331,1

In [9]:
df_data.tail()

     OUTDOOR_TEMP ELECTRIC_POWER
1491     32,81736         325,35
1492    34,618198         332,11
1493     28,03385          296,1
1494     21,21879         229,71
1495    26,987152         262,85

In [12]:
df_data.dtypes

OUTDOOR_TEMP      object
ELECTRIC_POWER    object
dtype: object

In [14]:
df_data.shape

(1496, 2)